body{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.header{
    background-image: url(./assets/image-header.jpg);
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 95%;
    align-items: center;
    margin-top: 1rem;
}
.navbar-li{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    justify-content: flex-end;
}
.menubar{
    display: none;
}
.navbar-li button{
    border-radius: 20px;
    border: 0;
    width: 6rem;
    height: 2.3rem;
    background-color: white;
    font-family: "Fraunces", serif;
    font-size: 0.7rem;
    font-weight: 700;
}
.list{
    display: flex;
    list-style-type: none;
    gap: 2rem;
}
.list li{
    color: white;
    font-size: 0.8rem;
    font-family: "Barlow", sans-serif;
}
.creatives{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
    font-family: "Fraunces", serif;
    color: white;
    font-size: 1.3rem;
    letter-spacing: 0.7rem;
}
.content-box1, .content-box2, .content-box3, .content-box5{
    width: 100%;
    display: flex;
}
.box{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box img{
    width: 100%;
    height: 100%;
}
.box .text, .box h1, .box #cherry-box, .box #orange-box{
    width: 50%;
}
.box h1{
    font-family: "Fraunces", serif;
    color: rgb(36,48,63);
}
.box .text{
    font-family: "Barlow", sans-serif;
    font-size: 0.75rem;
    color: rgb(132,130,144);
    font-weight: 600;
    line-height: 1.5;
}
.button1{
    width: 5.5rem;
    height: 1.3rem;
    border-radius: 5px;
    border: 0;
    background-image: linear-gradient(to bottom, rgb(253, 252, 248), rgb(253,242,186));
    font-family: "Fraunces", serif;
    font-weight: 800;
    font-size: 0.6rem;
    color: rgb(36,48,63);
    margin-top: 0.8rem;
}
.button2{
    width: 5.5rem;
    height: 1.3rem;
    border-radius: 5px;
    border: 0;
    background-image: linear-gradient(to bottom, rgb(253, 252, 248), rgb(253,217,209));
    font-family: "Fraunces", serif;
    font-weight: 800;
    font-size: 0.6rem;
    color: rgb(36,48,63);
    margin-top: 0.8rem;
}
#cherry-box{
    background-image:url(./assets/image-cherry.jpg) ;
}
#orange-box{
    background-image: url(./assets/image-smallorange.jpg);
}

.content-box4{
    width: 100%;
    height: 100vh;
}
#cherry-box, #orange-box{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.design-text{
    width: 17rem;
    font-family: "Barlow", sans-serif;
    font-size: 0.75rem;
    color: rgb(132,130,144);
    font-weight: 600;
    line-height: 1.5;
}
.graphic{
    margin-top: 22rem;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.grid-item{
    padding: 1rem;
    text-align: center;
}
.content-box4 h1{
    text-align: center;
    margin-top: 9rem;
}
.grid-item img{
    height: 3rem;
    border-radius: 50%;
}
.client-text{
    width: 18rem;
}
.client-text p{
    font-family: "Barlow", sans-serif;
    font-size: 0.9rem;
    color: rgb(132,130,144);
    font-weight: 600;
    line-height: 1.5;
    margin-top: 1.8rem;
}
.name{
    font-family: "Fraunces", serif;
    color: rgb(36,48,63);
    font-size: 0.9rem;
    margin-top: 2rem;
}
.position{
    font-family: "Barlow", sans-serif;
    font-size: 0.7rem;
    color: rgb(190,190,189);
    font-weight: 600;
    margin: 0;
}
.box2{
    width: 25%;
}
.box2 img{
    width: 100%;
    height: 100%;
}
.content-box6{
    width: 100%;
    height: 50vh;
    background-color: rgb(144,212,197);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sunnyside{
   margin-top: 3.5rem;
   color: rgb(45,116,100);
   font-family: poppins, sans-serif;
   font-weight: 800;
   font-size: 1.58rem;
}
.links{
    margin-top: 0.2rem;
    display: flex;
    gap: 2rem;
}
.links a{
    text-decoration: none;
    color: rgb(80,148,133);
    font-family: "Barlow", sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
}
.socials{
    margin-top: 4rem;
    display: flex;
    gap: 1rem;
}

@media (max-width: 426px){
    .container{
        flex-direction: column;
    }
    .content-box1{
      flex-direction: column-reverse;
    }
    .content-box2, .content-box3{
        flex-direction: column;
    }
    .box{
        width: 100%;
    }
    #box-cherry, #box-orange{ 
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .content-box3{
        height: 30vh;
    }
    .content-box4{
       display: flex;
       align-items: center;
       flex-direction: column;
       margin-top: 45rem;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .header{
        height: 60vh;
    }
    .navbar-li{
        display: none;
    }
    .creatives{
        text-align: center;
        margin-top: 2rem;
    }
    .content-box5{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .box2{
        width: 50%;
    }
    .box .text{
        width: 80%;
        text-align: center;
    }
    .box h1{
        width: 16rem;
        text-align: center;
    }
    .content-box5{
        margin-top: 20rem;
        width: 100%;
    }
    .menubar{
        display: block;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 90%;
    }
    .header{
        height: 80vh;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .content-box6{
        height: 40vh;
    }
}